#showGames, #joinGame {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    overflow: auto;
    width: auto;
    margin-top: 10px;

}
#showGames th, #joinGame th {
    color: white;
    font-weight: normal;
    padding: 10px 25px;
    text-align: center;
    background-color: #5272ff;
}

#showGames tr, #joinGame tr {
    background-color: #fdfff2;
}