body {
    background-color: gray;
}

.login {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login h1 {
    font-weight: 100;
    text-align: center;
    font-family: Arial, sans-serif;
    color: green;
}

.login input[type=text], input[type=password]{
    text-align: center;
    height: 20px;
    width: 75%;
    margin-bottom: 10px;
    border: 2px solid #d9d9d9;
    border-top: 2px solid #c0c0c0;
    background: #fff;
}